<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div> Crear un nuevo puerto</div>
<form class="form-group" action="#" th:action="@{/puertos/addPuerto}" th:object="${puerto}" method="post" enctype="multipart/form-data">
<p>Nombre del Puerto: <input class="form-control" type="text" th:field="*{nompuerto}" /> </p>
<p>Altura: <input class="form-control" type="text" th:field="*{altura}" /> </p>
<p>Categoría: <input class="form-control" type="text" th:field="*{categoría}" /> </p>
<p>Pendiente: <input class="form-control" type="text" th:field="*{pendiente}" /> </p>
<p>Nombre de la Etapa: <input class="form-control" type="text" th:field="*{etapa.netapa}" /> </p>
<p> Dorsal del Ciclista: <input class="form-control" type="text" th:field="*{ciclista.dorsal}" /> </p>
<p> <input class="form-control" type="submit" value="submit"> </p>
</form>
</body>
</html>