<meta charset="utf-8">
<div class="container">
<link href="/css/bootstrap.min.css" rel="stylesheet">
  <div class="title-box">
    <h1>Maillots</h1>
  </div>
<form th:action="@{/maillots/create}" method="get">
  <input type="submit" class="btn btn-outline-success btn-lg btn-block" value="Añadir"/>
</form>
  <table class="table table-bordered grocery-crud-table table-hover">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Tipo</th>
        <th>Color</th>
        <th>Premio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="maillot: ${maillots}">
        <th th:text="${maillot.codigo}"></th>
        <th th:text="${maillot.tipo}"></th>
        <th th:text="${maillot.color}"></th>
        <th th:text="${maillot.premio}"></th>
        <th>
          <a class="btn btn-default btn-outline-dark" href="">Editar</a>
          <form action="#"  th:action="@{/maillots/delete(codigo=${maillot.codigo})}"  th:object="${maillot}"  method="post">
				<input class="btn btn-default btn-outline-danger" type="submit" value="Delete">
		  </form>
        </th>
      </tr>
    </tbody>
  </table>
 

</div>